* {
    font-family: 'Roboto', sans-serif;
}

/*Style header and intro -------------------------------------*/
.header-and-intro {
    height: 240px;
    background-color: #142937;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px 64px 16px 64px;
    border-radius: 8px;
}

.header {
    display: flex;
    color: white;
    font-size: 16px;
    justify-content: space-between;
    margin-bottom: 32px;
}

.header-links {
    display: flex;
    justify-content: right;
    font-size: medium;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #3882F6;
    border: 1.5px solid white;
    color: white;
    padding: 8px 16px 8px 16px;
    font-size: small;
    font-weight: bold;
    border-radius: 8px;
    border-color: white;
}

.intro-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 16px;
    font-size: small
}


/*-----------------Style Content Details----------------------*/
.content{
    display: flex;
    flex-direction: column;
    padding: 16px 64px 16px 64px;
    align-items: center;
}

.content-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    gap: 32px;
}

.rounded-square {
    width: 120px;
    height: 120px;
    border: 2px solid rgb(11, 86, 151);
    border-radius: 15px; /* Adjust for roundness */
}

.image-set {
    font-size: small;
    display: flex;
    width: 120;
    flex-direction: column;
}


/*Style Quote-------------------------------------------------*/
.quote {
    height: min-content;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: Light; 
    font-style: Italic;
    font-family: #1F2937;
}

.author {
    font-weight: bold;
}  



/*Style Call To Action------------------------------------------*/
.call-to-action {
    background-color: white;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 16px;
}

.call-to-action > .container {
    background-color: #3882F6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 15px; /* Adjust for roundness */
}


/*Style Footer-----------------------------------------------*/
.footer {
    background-color: #142937;
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    
}